.main {
  animation-name: example;
  animation-duration: 0.5s;
  width: 100%;
}
@keyframes example {
  from {
    transform: translateY(60px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.change-password-image{
  width: 200px;
  height: 200px;
}

.password-header {
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;

}
.password-form {
  margin-top: 25px;
}


.backtoLogin-portion {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.backtoLogin-portion > :first-child {
  color: #3ac793;
  cursor: pointer;
  font-size: 14px;
}
.password-imageContainer {
  display: flex;
  justify-content: center;
}

.password-imageContainer img {
  width: 300px;
}

.password-textContainer {
    display: flex;
    justify-content: center; 
    margin-top: 25px;  
}

.password-textContainer  p{
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    width: 90%;
 }


 /* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////     Media Query Starts here    /////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* For Tablet Screen  */
@media screen and (max-width: 960px) {
  .password-form input {
    width: 640px;
  }
}

/* For Mobile Screen  */
@media screen and (max-width: 480px) {

  .password-form input {
    width: 200px;
  }
}
