.container {
    display: flex;
    width: 100%;
    margin: 50px;
    justify-content: center;
    font-family: inter;
    color: #006c33;
    font-weight: 700;
    gap: 50px;
}

.header {
    font-size: 30px;
}
.containerContent {
    display: flex;
    width: 100%;
    margin: 50px;
    justify-content: center;
}

.cardWrapper {
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
}

.proceedBtn {
    display: flex;
    justify-content: flex-end;
    color: #006c33;
    font-weight: 700;
    align-items: center;
    cursor: pointer;
    border: 1px solid #006c33;
    padding: 8px;
    border-radius: 8px;
}
.proceedBtn:hover {
    background-color: #006c33;
    color: #ffff;
    transition: 0.1s ease-in-out;
}
